/* Typography */
body {
  font-family: 'Times New Roman', Times, serif, 'Microsoft YaHei';
  line-height: 1.5;
  margin: auto;
  padding: 3em 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 1em 0 0 0;
  line-height: 1.5;
}

h1 {
  font-size: 1.75em;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3, h4, h5, h6 {
  font-size: 1.25em;
  text-align: left;
}

/* Block Quote */
blockquote {
  padding: 0 1em;
  margin: auto;
  border: .1em dashed #d0dfda;
  border-radius: .5em;
  color: #393939;
  background: #f9f9f9;
  font-style: normal !important;
  font-family: Georgia, 'Microsoft YaHei';
}

/* Lists */
ul, ol {
  padding: 0 0 0 1.5em;
}

li {
  margin: .5em 0;
  padding: auto;
}

/* Links */
a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #33b;
  padding-bottom: .1em;
  border-bottom: .1ex dashed;
}

sup a {
  border-bottom: none;
}

hr {
  display: block;
  height: 1px;
  margin: 30px auto;
  border-top: 1px dotted;
  max-width: auto;
}

/* Tables */

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

table thead th {
  border-bottom: 1px solid #666;
}

th, td {
  padding: 5px;
}

thead, tfoot, tr:nth-child(even) {
  background: #efefef;
}