<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

    {{ block "head" . }} {{ end }}

    {{ $.Scratch.Set "section" (replaceRE "^/([^/]+)/.*" "$1" .RelPermalink) }}
    <body class="{{ if .IsHome }}home{{ else }}{{ $.Scratch.Get "section" }}{{ end }}">

        {{ block "header" . }} {{ end }}

        <article class="main">
            {{ block "meta" . }} {{ end }}

            {{ block "content" . }} {{ end }}

            {{ block "footer" . }} {{ end }}
        </article>

        {{ template "_internal/google_analytics.html" . }}

    </body>
</html>