<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

    {{ block "header" . }} {{ end }}

    {{ $.Scratch.Set "section" (replaceRE "^/([^/]+)/.*" "$1" .RelPermalink) }}
    <body class="{{ if .IsHome }}home{{ else }}{{ $.Scratch.Get "section" }}{{ end }}">
        <article class="main">
            {{ block "navigator" . }} {{ end }}

            {{ block "section" . }} {{ end }}

            {{ block "content" . }} {{ end }}

            {{ partial "footer.html" . }}
        </article>

        {{ template "_internal/google_analytics.html" . }}

    </body>
</html>