<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

    {{ block "head" . }} {{ end }}

    {{ $.Scratch.Set "section" (replaceRE "^/([^/]+)/.*" "$1" .RelPermalink) }}
    <body class="{{ if .IsHome }}home{{ else }}{{ $.Scratch.Get "section" }}{{ end }}">

        {{ block "header" .}} {{ end }}

        <article class="main">
            {{ block "main-meta" .}} {{ end }}

            {{ block "main-content" . }} {{ end }}

            
        </article>
        {{ block "footer" . }} {{ end }}

        {{ template "_internal/google_analytics.html" . }}

    </body>
</html>