<footer>
  {{ if .IsPage }}
    <div class="post-footer" >
      {{ with .Params.categories }}
        <span class="post-categories">
          {{ range . }}
            {{- $name := . -}}
            {{- with $.Site.GetPage "taxonomy" (printf "categories/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "categories/%s" ($name | urlize))) -}}
              &#9900; <a href="{{ .Permalink }}"> {{ $name }} </a>
            {{ end -}}
          {{ end }}
        </span>
      {{ end }}
      {{ if and .Params.lastmod (gt .Params.lastmod .Params.date)}}
        <span class="lastmodified">
          update @ {{ .Lastmod.Format "2006-01-02" }}
        </span>
      {{ end }}
    </div>
  {{ end }}

  {{ if and .IsPage (not .Params.Notshowhome) }}
  <nav class="post-nav">
    <span class="nav-prev">{{ with .Prev }}&larr; <a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ end }}</span>
    <span class="nav-next">{{ with .Next }}<a href="{{ .RelPermalink }}">{{ .Title }}</a> &rarr;{{ end }}</span>
  </nav>
  {{ end }}

  {{ if .IsPage }}
    <div class="comments" >
      {{ partial "comments.html" . }}
    </div>
  {{ end }}

  <script async src="/js/center-img.js"></script>
  <script src="/js/math-code.js"></script>
  <script async src="//mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</footer>